@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 3rem;
}

span {
    color: var(--main-color);
}

.home-content h3 .text-animate {
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -30rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
    position: relative;
}

.home-content h3 .text-animate::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2rem 1rem 2rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-right: .2rem solid var(--main-color);
    border-left: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-contant {
    text-align: center;
}

.about-contant h3 {
    font-size: 2.6rem;
}

.about-contant p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 27rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-contant {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-contant::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-contant:hover::before {
    width: 100%;
}

.skills-contant .progress {
    padding: 1rem 0;
}

.skills-contant .progress h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.skills-contant .progress h3 span {
    color: var(--text-color);
}

.skills-contant .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-contant .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-contant .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-contant .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-contant .progress:nth-child(3) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-contant .progress:nth-child(4) .bar span {
    width: 10%;
}

.skills-column:nth-child(1) .skills-contant .progress:nth-child(5) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-contant .progress:nth-child(6) .bar span {
    width: 65%;
}

.skills-column:nth-child(2) .skills-contant .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-contant .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-contant .progress:nth-child(3) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-contant .progress:nth-child(4) .bar span {
    width: 95%;
}

.skills-column:nth-child(2) .skills-contant .progress:nth-child(5) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-contant .progress:nth-child(6) .bar span {
    width: 75%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(1) .bar span {
    width: 75%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(2) .bar span {
    width: 95%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(3) .bar span {
    width: 95%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(4) .bar span {
    width: 95%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(5) .bar span {
    width: 85%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(6) .bar span {
    width: 85%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(7) .bar span {
    width: 75%;
}

.skills-column:nth-child(3) .skills-contant .progress:nth-child(8) .bar span {
    width: 55%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(2) .bar span {
    width: 90%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(3) .bar span {
    width: 90%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(4) .bar span {
    width: 90%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(5) .bar span {
    width: 75%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(6) .bar span {
    width: 85%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(7) .bar span {
    width: 75%;
}

.skills-column:nth-child(4) .skills-contant .progress:nth-child(8) .bar span {
    width: 95%;
}


.games {
    background: var(--second-bg-color);
}

.games h2 {
    margin-bottom: 4rem;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.games-container .game-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.game-box img {
    width: 100%;
    transition: .5s ease;
}

.game-box:hover img {
    transform: scale(1.1);   
}

.game-box .game-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.game-box:hover .game-layer {
    transform: translateY(0);
}

.game-layer h4 {
    font-size: 3rem;
}

.game-layer h5 {
    font-size: 2rem;
}

.game-layer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}

.game-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.game-layer a i {
    font-size: 2rem;
    color: var(--main-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form .input-box input[type=number]::-webkit-inner-spin-button,
.contact form .input-box input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}





@keyframes homeBgText {
    0%,10%,100% {
        background-position: -30rem 0;
    }

    65%,85% {
        background-position: 0rem 0;
    }
}

@keyframes homeCursorText {
    5%,15%,100% {
        width: 0;
    }

    65%,77%,84% {
        width: 100%;
        opacity: 1;
    }

    70%,76% {
        opacity: 0;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}